.container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  background-color: #282c34; /* Dark background color */
  padding: 20px; /* Add some padding for spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.container:hover {
  transform: translateY(-5px); /* Lift the container slightly on hover */
}

.header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff; /* Text color set to white */
}

.task-image {
  width: 100%;
  max-width: 500px; /* Adjust the max-width as needed */
  margin: 20px auto; /* Adjust the margin as needed */
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header strong {
  animation: fadeIn 1.5s ease-out;
}
